@font-face {
  font-family: HelveticaNeue-Medium;
  src: url("https://cdn.appcircle.io/common/fonts%2FHelveticaNeue%2FHelveticaNeue-Medium.woff")
    format("woff");
}

@font-face {
  font-family: HelveticaNeue-Bold;
  src: url("https://cdn.appcircle.io/common/fonts%2FHelveticaNeue%2FHelveticaNeue-Bold.ttf");
}

@font-face {
  font-family: HelveticaNeue;
  src: url("https://cdn.appcircle.io/common/fonts%2FHelveticaNeue%2FHelveticaNeue.ttf");
}

@font-face {
  font-family: SFProText-Bold;
  src: url("https://cdn.appcircle.io/common/fonts%2FSFProText%2FSFProText-Bold.ttf");
}

@font-face {
  font-family: SFProText-Semibold;
  src: url("https://cdn.appcircle.io/common/fonts%2FSFProText%2FSFProText-Semibold.ttf");
}

@font-face {
  font-family: SFProText-Regular;
  src: url("https://cdn.appcircle.io/common/fonts%2FSFProText%2FSFProText-Regular.ttf");
}

@font-face {
  font-family: SFProText-Medium;
  src: url("https://cdn.appcircle.io/common/fonts%2FSFProText%2FSFProText-Medium.ttf");
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.BodyContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.LoginForm {
  overflow: hidden;
  height: 100%;
  background-color: #f5f6f9;
  display: flex;
  flex-direction: row;
}

.LoginForm_sidebar {
  overflow: hidden;
  width: 35%;
  position: relative;
  background-color: #1a3352;
  background-size: contain;
  background-repeat: no-repeat;
}

.LoginForm_sidebar_logo {
  font-size: 2rem;
  left: 1.7em;
  width: 60%;
  max-width: 60%;
  height: 10%;
  position: absolute;
  top: 2vw;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .LoginForm_sidebar_logo {
    width: 90%;
    max-width: 90%;
    left: 0.4rem;
  }
}

.LoginForm_sidebar_advertisement {
  width: 320px;
  height: 100%;
  position: absolute;
  top: 1vw;
  left: 0;
}

.LoginForm_sidebar_text {
  left: 2em;
  right: 2em;
  font-family: SFProText-Bold, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen";
  font-size: 2rem;
  color: #c8d7f7;
  position: absolute;
  bottom: 11%;
  white-space: pre-line;
  line-height: 1;
  user-select: none;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .LoginForm_sidebar_text {
    font-size: 1.25rem;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
    bottom: 5%;
  }
}

.LoginForm_main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  position: relative;
  width: 65%;
}

.LoginForm_main_box {
  margin-top: 10vh;
  width: 400px;
  min-width: 200px;
  justify-content: center;
  max-width: 28.125rem;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .LoginForm_main_box {
    width: 50%;
    min-width: 100%;
  }
}

.Login_otp_deviceSelector {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
}

.Login_otp_deviceSelector select {
  width: 60%;
}
.Login_otp_deviceSelector label {
  margin-right: 10px;
}

.LoginForm_main_box_title {
  margin-bottom: 1.25rem;
  font: 2rem SFProText-Regular, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen";
  letter-spacing: -0.4px;
  text-align: center;
  color: #1a3352;
}

.LoginForm_main_box_subtitle {
  display: flex;
  justify-content: center;
}
form {
  min-width: 350px;
  text-align: center;
}

form > section,  form > div {
  text-align: initial;
}

a {
  font: 0.9375rem SFProText-Medium, -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen";
  font-size: 0.875rem;
  color: #1a3352;
}
ol > li {
  font: 0.9375rem SFProText-Medium, -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen";
  font-size: 0.875rem;
  letter-spacing: -0.2px;
  color: #1a3352;
  margin-bottom: 20px;
}

ul > li {
  list-style-type: none;
}

.acForm_title {
  font: 0.9375rem SFProText-Medium, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen";
  font-size: 0.875rem;
  letter-spacing: -0.2px;
  text-align: center;
  color: #1a3352;
  margin-bottom: 20px;
}

.LoginForm_main_box_subtitle_defination {
  font: 0.9375rem SFProText-Medium, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen";
  font-size: 0.875rem;
  letter-spacing: -0.2px;
  text-align: center;
  color: #1a3352;
}

.LoginForm_main_box_subtitle_link {
  font: 0.9375rem SFProText-Medium, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen";
  letter-spacing: -0.2px;
  margin-left: 0.1875rem;
  color: #ff8f34;
  text-decoration: underline;
  cursor: pointer;
}

.LoginForm_main_box_subtitle_link_grey {
  color: #a5b5c9;
}

.LoginForm_main_box_subtitle_hiddenLink {
  margin-left: 0.1875rem;
  color: #1a3352;
  text-decoration: unset;

  cursor: pointer;
}

.LoginForm_main_box_subtitle_hiddenLink:hover {
  text-decoration: underline;
}

.LoginForm_main_box_inputs {
  padding-left: 30px;
  padding-right: 30px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .LoginForm_main_box_inputs {
    padding-left: 8px;
    padding-right: 16px;
  }
}

.LoginForm_main_box_inputs_signup {
  margin-top: 30px;
}
.LoginForm_main_box_inputs_forgot {
  margin-top: 30px;
}

.withBorder {
  border-bottom: 1px solid #e7e9ef;
}

.LoginForm_main_box_input {
  width: 100%;
  color: #bbcbde;
  font-family: SFProText-Regular;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.LoginForm_main_box_input label {
  border-radius: 4px 4px 0 0;
  position: relative;
  display: block;
  width: 97%;
  min-height: 70px;
  background-color: white;
  padding-left: 15px;
}
.LoginForm_main_box_input .placeholder {
  position: absolute;
  display: block;
  top: 23px;
  z-index: 2;
  font-size: 16px;
  transition: all 200ms ease-in-out;
  width: 100%;
  cursor: text;
}
.LoginForm_main_box_input input,
.LoginForm_main_box_input textarea {
  position: absolute;
  padding-left: 15px;
  top: 20px;
  z-index: 1;
  width: 80%;
  font-size: 16px;
  border: 0;
  outline: none;
  padding: 0;
  margin: 0;
}
.LoginForm_main_box_input textarea {
  min-height: 30px;
  padding: 8px 0;
}
.LoginForm_main_box_input input {
  height: 30px;
  background-color: transparent;
}

.LoginForm_main_box_input input:focus + .placeholder,
.LoginForm_main_box_input input:valid + .placeholder,
.LoginForm_main_box_input textarea:focus + .placeholder,
.LoginForm_main_box_input textarea:valid + .placeholder {
  top: 5px;
  cursor: inherit;
  font-size: 12px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:-webkit-autofill + .placeholder,
input:-webkit-autofill:hover + .placeholder,
input:-webkit-autofill:focus + .placeholder,
input:-webkit-autofill:active + .placeholder {
  top: 5px;
  cursor: inherit;
  font-size: 12px;
}

.LoginForm_formTools {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  list-style: none;
  padding: 0px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .LoginForm_formTools {
    flex-direction: column;
    text-align: center;
    padding: 10px 10px;
  }
  .LoginForm_formTools a {
    padding-bottom: 10px;
  }
  .LoginForm_formTools > li + li::before {
    display: none;
  }

  .LoginForm_formTools > li {
    padding-bottom: 10px;
  }
}

.LoginForm_formTools a {
  text-decoration: none;
}

.LoginForm_formTools > li + li::before {
  content: "•";
  color: rgb(94, 108, 132);
  margin: 0px 8px;
}

.LoginForm_formTools_forgot {
  font-size: 0.9375rem;
  color: #a5b5c9;
  text-decoration: underline;
  font-family: SFProText-Regular, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen";
}

.LoginForm_formTools_signup {
  font-size: 0.9375rem;
  color: #a5b5c9;
  text-decoration: underline;
  font-family: SFProText-Regular, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen";
}

.LoginForm_formFooter {
  margin-top: 1.8125rem;
  text-align: center;
}

.LoginForm_formFooter_submit {
  position: relative;
  height: 3.125rem;
  font-family: HelveticaNeue-Bold, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen";
  font-size: 1.1875rem;
}

.LoginForm_socialProviders {
  margin-top: 0.5rem;
  position: relative;
  text-align: center;
  height: 3.125rem;
  font-family: HelveticaNeue-Bold, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen";
  font-size: 1.1875rem;
}

.LoginForm_formFooter_text {
  margin-top: 1rem;
  position: relative;
  height: 3.125rem;
  font-family: HelveticaNeue-Bold, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen";
  font-size: 1.1875rem;
}

.LoginForm_formFooter_back {
  display: block;
  margin-top: 1.325rem;
  color: #a5b5c9;
  text-decoration: underline;
  font-family: SFProText-Regular, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen";
}

.LoginForm_button {
  position: relative;
  border: none;
  box-sizing: border-box;
  justify-content: center;
  background-color: #ff8f34;
  border-radius: 7px;
  margin: none;
  outline: none;
  min-height: 2.5rem;
  width: 12.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  user-select: none;
  cursor: pointer;
  color: #fff;
  min-width: 9.375rem;
  width: auto;
  padding: 0 0.9375rem;
  font-family: HelveticaNeue-Bold, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen";
  font-size: 1.1875rem;
}

.LoginForm_button_md {
  width: 85%;
}

.LoginForm_bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
  margin-top: 15px;
}

.LoginProviders {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.LoginProviders_host {
  text-decoration: none;
  display: flex;
  height: 40px;
  max-width: 28.75rem;
  width: 85%;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px 0 #e6e9ef;
  background-color: #fff;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px 0px !important;
  min-width: 222px;
}

.LoginProviders_host:not(:last-child) {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 1px solid #f5f6f9;
  margin-bottom: 1rem;
}

.LoginProviders_host:not(:first-child) {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.LoginProviders_host_icon {
  margin-right: 1rem;
}

.LoginProviders_host_name {
  font-family: HelveticaNeue, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen";
  color: #1a3352;
}

.providerSubtitle {
  display: flex;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.aggrementBox {
  position: absolute;
  bottom: -20px;
  padding-left: 8px;
  padding-right: 8px;
}

.aggrementBoxText {
  color: #a5b5c9;
  font-family: SFProText-Regular, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen";
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .aggrementBox {
    bottom: -5px;
    font-size: 10px;
  }

  .aggrementBoxText {
    display: none;
  }
}

button[type="submit" i],
input[type="submit" i] {
  position: relative;
  border: none;
  box-sizing: border-box;
  justify-content: center;
  background-color: #ff8f34;
  border-radius: 7px;
  margin: none;
  outline: none;
  min-height: 2.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  user-select: none;
  cursor: pointer;
  color: #fff;
  min-width: 9.375rem;
  padding: 0 0.9375rem;
  font-family: HelveticaNeue-Bold, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen";
  font-size: 1.1875rem;
}

form > section {
  margin-bottom: 1rem;
}

.secondaryButton {
  background-color: #b1a9a3 !important;
}


.OrDivider {
  display: flex;
  justify-content: center;
  font-size: 11px;
  line-height: 1;
  margin-bottom: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #a5b5c9;
  margin-top: 15px;
  margin-bottom: 15px;
}

.dividerBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider {
  display: block;
  width: 85%;
  height: 1px;
  position: relative;
  border-bottom: 1px solid rgba(165, 181, 201, 0.5);
  padding-top: 5px;
  padding-left: 5px;
}
