<#import "template.ftl" as layout>
<@layout.registrationLayout; section>
    <#if section="header">
        ${msg("doLogIn")}
    <#elseif section="form">
        <div class="LoginForm_main_box">
            <form id="kc-otp-login-form" class="${properties.kcFormClass!}" action="${url.loginAction}"
                method="post">
                <#if otpLogin.userOtpCredentials?size gt 1>
                    <div class="${properties.kcFormGroupClass!}">
                        <div class="${properties.kcInputWrapperClass!} Login_otp_deviceSelector">
                            <label><b>Devices: </b></label>
                            <select name="selectedCredentialId" value="${otpLogin.selectedCredentialId}">
                                <#list otpLogin.userOtpCredentials as otpCredential>
                                    <option value="${otpCredential.id}">${otpCredential.userLabel}</option>
                                    <#--  <input id="kc-otp-credential-${otpCredential?index}" class="${properties.kcLoginOTPListInputClass!}" type="radio" name="selectedCredentialId" value="${otpCredential.id}" <#if otpCredential.id == otpLogin.selectedCredentialId>checked="checked"</#if>>
                                    <label for="kc-otp-credential-${otpCredential?index}" class="${properties.kcLoginOTPListClass!}" tabindex="${otpCredential?index}">
                                        <span class="${properties.kcLoginOTPListItemHeaderClass!}">
                                            <span class="${properties.kcLoginOTPListItemIconBodyClass!}">
                                            <i class="${properties.kcLoginOTPListItemIconClass!}" aria-hidden="true"></i>
                                            </span>
                                            <span class="${properties.kcLoginOTPListItemTitleClass!}">${otpCredential.userLabel}</span>
                                        </span>
                                    </label>  -->
                                </#list>
                            </select>
                        </div>
                    </div>
                </#if>
                <div class="acForm_title">
                    To keep your account secure, we must verify your identity. <br/><b>Enter the code generated by your authenticator app.</b>
                </div>
                <div class="LoginForm_main_box_inputs">
                    <div class="LoginForm_main_box_input withBorder">
                        <label>
                            <input id="otp" name="otp" autocomplete="off" type="text" required class="${properties.kcInputClass!}" autofocus>
                            <span class="placeholder">${msg("loginOtpOneTime")}</span>
                        </label>
                    </div>
                </div>

                <div class="${properties.kcFormGroupClass!}">
                    <div id="kc-form-options" class="${properties.kcFormOptionsClass!}">
                        <div class="${properties.kcFormOptionsWrapperClass!}">
                        </div>
                    </div>
                    <div class="LoginForm_formFooter">
                        <div class="LoginForm_formFooter_submit">
                            <div id="kc-form-buttons" class="${properties.kcFormButtonsClass!}">
                                <input
                                    class="LoginForm_button LoginForm_button_md ${properties.kcButtonClass!} ${properties.kcButtonPrimaryClass!} ${properties.kcButtonBlockClass!} ${properties.kcButtonLargeClass!}"
                                    name="login" id="kc-login" type="submit" value="${msg("doLogIn")}" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </#if>
</@layout.registrationLayout>