@font-face {
  font-family: HelveticaNeue-Medium;
  src: url("https://cdn.appcircle.io/common/fonts%2FHelveticaNeue%2FHelveticaNeue-Medium.woff")
    format("woff");
}

@font-face {
  font-family: HelveticaNeue-Bold;
  src: url("https://cdn.appcircle.io/common/fonts%2FHelveticaNeue%2FHelveticaNeue-Bold.ttf");
}

@font-face {
  font-family: HelveticaNeue;
  src: url("https://cdn.appcircle.io/common/fonts%2FHelveticaNeue%2FHelveticaNeue.ttf");
}

@font-face {
  font-family: SFProText-Bold;
  src: url("https://cdn.appcircle.io/common/fonts%2FSFProText%2FSFProText-Bold.ttf");
}

@font-face {
  font-family: SFProText-Semibold;
  src: url("https://cdn.appcircle.io/common/fonts%2FSFProText%2FSFProText-Semibold.ttf");
}

@font-face {
  font-family: SFProText-Regular;
  src: url("https://cdn.appcircle.io/common/fonts%2FSFProText%2FSFProText-Regular.ttf");
}

@font-face {
  font-family: SFProText-Medium;
  src: url("https://cdn.appcircle.io/common/fonts%2FSFProText%2FSFProText-Medium.ttf");
}
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

body {
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  height: 100%;
}

header .navbar {
  margin-bottom: 0;
  min-height: inherit;
  background-color: #1a3352;
  border-top: 0;
}

.header .container {
  position: relative;
}

.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open .dropdown-toggle.btn-primary {
  background-color: #ffab67;
  background-image: none;
  border-color: #ffab67;
  color: #fff;
}

.btn-primary {
  background-color: #ff8f34;
  background-image: linear-gradient(to bottom, #ff8f34 0, #ff8f34 100%);
  background-repeat: repeat-x;
  border-color: #ff8f34;
  color: #fff;
  border-radius: 7px;
}

.btn-default {
  background-color: #9ba4ad;
  background-image: linear-gradient(to bottom, #9ba4ad 0, #9ba4ad 100%);
  background-repeat: repeat-x;
  border-color: #9ba4ad;
  color: #fff;
  border-radius: 7px;
}

.btn-default.active,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.open .dropdown-toggle.btn-default {
  background-color: #ccd1d6;
  background-image: none;
  border-color: #ccd1d6;
  color: #fff;
}

.navbar-title {
  background-image: url("../img/appcircle_logo.svg");
  background-size: contain;
  height: 25px;
  background-repeat: no-repeat;
  width: 123px;
  margin: 3px 10px 5px;
  margin-top: 6px;
  text-indent: -99999px;
}

.navbar-pf {
  border-top: 0;
}

.navbar-pf .navbar-utility {
  right: 20px;
  top: -34px;
  font-size: 12px;
}

.navbar-pf .navbar-utility > li > a {
  color: #fff !important;
  padding-bottom: 12px;
  padding-top: 11px;
  border-left: medium none;
}

.container {
  height: 100%;
}

.content-area {
  background-color: #fff;
  border-color: #cecece;
  border-style: solid;
  border-width: 0 1px;
  height: 100%;
  padding: 0 30px;
}

.margin-bottom {
  margin-bottom: 10px;
}

/* Sidebar */

.bs-sidebar {
  background-color: #f9f9f9;
  padding-top: 44px;
  padding-right: 0;
  padding-left: 0;
  z-index: 20;
}
.bs-sidebar ul {
  list-style: none;
  padding-left: 12px;
}

.bs-sidebar ul li {
  margin-bottom: 0.5em;
  margin-left: -1em;
  font-family: HelveticaNeue-Medium, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen";
}
.bs-sidebar ul li a {
  font-size: 14px;
  padding-left: 25px;
  color: #9ba4ad;
  line-height: 28px;
  display: block;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: #f9f9f9;
  height: 40px;
  margin: 3px 15px;
  font-size: 15px;
  letter-spacing: 0.25px;
  line-height: 36px;
  border-radius: 7px;
  font-weight: 600;
}
.bs-sidebar ul li a:hover,
.bs-sidebar ul li a:focus {
  background-color: #eff1f5;
  text-decoration: none;
}
.bs-sidebar ul li.active a {
  color: #5b799e;
  background-color: #eff1f5;
  font-weight: bold;
  background-image: url(../img/icon-sidebar-active.png);
  background-repeat: no-repeat;
  background-position: right center;
}

.bs-sidebar ul li.active a:hover {
  border-right: none;
}

.content-area h2 {
  color: #1a3352;
  font-family: HelveticaNeue-Bold, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen";
  font-weight: 100;
  font-size: 24px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.subtitle {
  text-align: right;
  margin-top: 30px;
  color: #909090;
}

.required {
  color: #cb2915;
}

.alert {
  margin-top: 30px;
  margin-bottom: 0;
}

.feedback-aligner .alert {
  background-position: 1.27273em center;
  background-repeat: no-repeat;
  border-radius: 2px;
  border-width: 1px;
  color: #4d5258;
  display: inline-block;
  font-size: 1.1em;
  line-height: 1.4em;
  margin: 0;
  padding: 0.909091em 3.63636em;
  position: relative;
  text-align: left;
}
.alert.alert-success {
  background-color: #e4f1e1;
  border-color: #4b9e39;
}
.alert.alert-error {
  background-color: #f8e7e7;
  border-color: #b91415;
}
.alert.alert-warning {
  background-color: #fef1e9;
  border-color: #f17528;
}
.alert.alert-info {
  background-color: #e4f3fa;
  border-color: #5994b2;
}

.form-horizontal {
  border-top: 1px solid #e9e8e8;
  padding-top: 23px;
}

.form-horizontal .control-label {
  color: #909090;
  line-height: 1.4em;
  padding-top: 5px;
  position: relative;
  text-align: right;
  width: 100%;
}

.form-group {
  position: relative;
}

.control-label + .required {
  position: absolute;
  right: -2px;
  top: 0;
}

#kc-form-buttons {
  text-align: right;
  margin-top: 10px;
}

#kc-form-buttons .btn-primary {
  float: right;
  margin-left: 8px;
}

/* Authenticator page */

ol {
  padding-left: 40px;
}

ol li {
  font-size: 13px;
  margin-bottom: 10px;
  position: relative;
}

ol li img {
  margin-top: 15px;
  margin-bottom: 5px;
  border: 1px solid #eee;
}

hr + .form-horizontal {
  border: none;
  padding-top: 0;
}

.kc-dropdown {
  position: relative;
}
.kc-dropdown > a {
  display: block;
  padding: 11px 10px 12px;
  line-height: 12px;
  font-size: 12px;
  color: #fff !important;
  text-decoration: none;
}
.kc-dropdown > a::after {
  content: "\2c5";
  margin-left: 4px;
}
.kc-dropdown:hover > a {
  background-color: rgba(0, 0, 0, 0.2);
}
.kc-dropdown ul li a {
  padding: 1px 11px;
  font-size: 12px;
  color: #000 !important;
  border: 1px solid #fff;
  text-decoration: none;
  display: block;
  line-height: 20px;
}
.kc-dropdown ul li a:hover {
  color: #4d5258;
  background-color: #d4edfa;
  border-color: #b3d3e7;
}
.kc-dropdown ul {
  position: absolute;
  z-index: 2000;
  list-style: none;
  display: none;
  padding: 5px 0px;
  margin: 0px;
  background-color: #fff !important;
  border: 1px solid #b6b6b6;
  border-radius: 1px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  min-width: 100px;
}
.kc-dropdown:hover ul {
  display: block;
}

#kc-totp-secret-key {
  border: 1px solid #eee;
  font-size: 16px;
  padding: 10px;
  margin: 50px 0;
}

.FederatedIdentity_note {
  margin-top: 30px;
  padding-left: 20px;
}
